<div class="bg-white">
  <div class= "row">
    <div class ="col-6 offset-3">
      <h3>Book Library </h3>
      <hr>
      <%= render 'form' %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
