<div class="bg-white">
  <div class= "row">
    <div class ="col-10 offset-2">
      <h3>Booked Library </h3>
      <%= render 'form' %>
    </div>
  </div>
  <div class= "row">
    <div class ="col-10">
      <h3>Payment Method </h3>
    </div>
  </div>
</div>
