<div class ="padd-left-40">
  <div class="bg-white">
    <div class="row">
      <% @libraries.each do |library| %>
        <div class="col-4">
          <%= render partial: 'library', locals: {library: library} %>
        </div>
      <% end%>
    </div>
    <%= will_paginate @libraries,renderer: BootstrapPagination::Rails %>
  </div>
</div>