<div class="bg-white">   
  <div class="row">
    <div class="col-12 offset-2">
      <h1>Edit Library </h1>
      <hr>
      <div class="row">
        <div class="col-8">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>