<div class="row">
  <div class="col-12 text-right">
    <%= link_to 'Add', new_library_owner_library_path, class: 'btn btn-primary'  %>
  </div>
</div>
<div class="row">
  <% @libraries.each do |library| %>
    <div class="col-4">
      <%= render partial: 'library', locals: {library: library} %>
    </div>
  <% end%>
</div>


