<div class="bg-white">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>New Library</h2>
      <%= render 'form' %>
      <%#= link_to 'Back', library_owner_libraries_path %>
    </div>
  </div>
</div>