<div class="bg-white">
  <div class="row">
    <div class="col-6">
      <h3>Libraries</h3>
      <hr>
    </div>
  </div>
    <table class="table table-striped">
      <tr>
        <th>Library Name</th>
        <th>Library Owner Name</th>
        <th colspan="2"></th>
      </tr>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= library.name %></td>
          <td><%= User.find_by(id: library.user_id)&.user_name  %></td>
        </tr>
      <%end%>
    </table>
    <%= will_paginate @bookings, renderer: BootstrapPagination::Rails %>
</div>