<div class="bg-white">    
  <div class="row">
    <div class="col-12">
      <h2>Edit Library </h2>
        <%= render 'form' %>
        <%= link_to 'Back', admin_libraries_path %>
    </div>
  </div>
</div>
   
