<div class="bg-white">
  <div class="row">
    <div class="col-6">
      <h3>Library Owner Details</h3>
      <hr>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Owner Name</th>
      <th>Owner Email</th>
      <th colspan="2"></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
      </tr>
    <%end%>
  </table>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>