<div class ="padd-left-40">
  <div class="bg-white">
    <div class="row">
      <div class="col-12 ">
        <h3>New Library</h3>
        <%= render 'form' %>
        <%#= link_to 'Back', admin_libraries_path %>
      </div>
    </div>
  </div>
</div>
