.devider-verticle{
  border-right: 1px solid #ccc;
}
.padd-top-15{
  padding-top: 15px;
}
.body-min-hieght{
  min-height: 550px;
}
.margin-r-b{
	margin-bottom: 10px;
	margin-right: 10px;
}
.bg-white{
	background: #fff;
	padding: 25px; 
}

.subscription-btn {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.subscription-btn li {
    float:left;
    margin:0 5px 0 0;
    width: 265px;
    height:70px;
    position:relative;
}

.subscription-btn label, .subscription-btn input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.subscription-btn input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.subscription-btn input[type="radio"]:checked + label {
    background: #f76573;
    color: #fff;
}

.subscription-btn label {
    padding: 20px 5px 5px 5px;
    border:1px solid #CCC; 
    cursor:pointer;
    z-index:90;
    border-radius: 5px;
    text-align: center;
}

.subscription-btn label:hover {
     background:#DDD;
}
.green-box{
    background: #f76573;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: #fff;
}
.width-20{
  width: 20%;
}
body
{
  font-family: Arial, Sans-serif;
}
.error
{
color:red;
font-family:verdana, Helvetica;
}
li{
list-style-type: none;
padding: 6px;
}

.error_msg, .error_msg_package{
  color:red;
  font-family:verdana, Helvetica;
}