.devider-verticle{
  border-right: 1px solid #ccc;
}
.padd-top-15{
  padding-top: 15px;
}
.body-min-hieght{
  min-height: 550px;
}
.margin-r-b{
	margin-bottom: 10px;
	margin-right: 10px;
}
.bg-white{
	background: #fff;
	padding: 25px; 
}