<div class="bg-white">
  <div class="row">
    <div class="col-10 offset-2">
      <h1>Edit Bank Details </h1>
      <hr>
      <%= render 'form' %>
      <br><%= link_to 'Back', library_owner_bank_accounts_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
 
